*
!.gitignore
!.gitattributes
!ReadMe.md
!requirements.txt
!app/
!app/**
!data/
!data/**
!tests/
!tests/**
!screenshots/
!screenshots/**
!docs/
!docs/**
!.github/
!.github/**
docs/practice.md
"docs/what is must do.md"

# Ignore Python cache artifacts inside tracked folders
app/**/__pycache__/
app/**/*.py[cod]
tests/**/__pycache__/
tests/**/*.py[cod]
